{% extends 'agrishop/base.html' %}
{% block content %}

<div class="container">
	<h2>Detalle producto N°{{productoEncontrado.codigo_producto}}:</h2>
	<div class="container">
		<div class="form-group">
	      <label for="usr">Nombre producto:</label>
	      <input type="text" value="{{productoEncontrado.nombre}}" class="form-control" readonly required>
	    </div>
	    <div class="form-group">
	      <label for="usr">Descripción producto:</label>
	      <input type="text" value="{{productoEncontrado.descripcion}}" class="form-control" readonly required>
	    </div>
	    <div class="form-group">
	      <label for="usr">Descripción producto:</label>
	      <input type="text" value="{{productoEncontrado.descripcion}}" class="form-control" readonly required>
	    </div>	
	    <div class="form-group">
	      <label for="usr">Precio producto:</label>
	      <input type="text" value="{{productoEncontrado.precio}}" class="form-control" readonly required>
	    </div>
	    <div class="form-group">
	      <label for="usr">Stock producto:</label>
	      <input type="text" value="{{productoEncontrado.stock}}" class="form-control" readonly required>
	    </div>
	    <img class="img-rounded" alt="Aquí había una imagen" style="width: 512px;" src="{{ productoEncontrado.imagen_producto.url }}">	    
	</div>
	<div class="row">
		<div class="col text-center">
			<a href="/administrarProductos" class="btn btn-success" role="button">Volver a administración</a>
		</div>		
	</div>
</div>
{% endblock %}